/* Variables */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");

/* Général */
* {
  box-sizing: border-box;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* NavBar */
.navbar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar .experience,
h2.exp {
  color: #ee6352ed;
}
.navbar .formation,
h2.formation {
  color: #ff8f58;
}
.navbar .competence,
h2.competence {
  color: #d16e8d;
}
.navbar .contact,
h2.contact {
  color: #24aa86;
}

.navbar a:hover {
  border-bottom: 3px solid;
}
.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 0;
}
.navbar ul li {
  margin-right: 5rem;
  font-size: 1.2rem;
}

/* Trait séparation nav bar et Jumbo */
hr {
  opacity: 0.2;
}
/* Jumbotron  */
h1 {
  font-family: "Fredoka One", cursive;
}
.jumbotron {
  height: 60vh;
}
.hero {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 900px;
  margin: auto;
  margin-top: 10%;
}

picture {
  grid-row: 1/3;
  grid-column: 1;
}
.hero__img {
  border-radius: 2rem;
  margin: 1rem;
  width: 240px;
  height: auto;
}
.hero__title {
  margin-top: 2rem;
  font-size: 2.5rem;
  grid-column: 2/4;
  grid-row: 1;
  color: white;
  font-weight: bolder;
}
.hero__title::after {
  content: "";
  position: absolute;
  background-color: #ee6352;
  background-image: linear-gradient(-45deg, #ee6352, #d16e8d);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  left: -1rem;
  right: -4em;
  top: -0.5rem;
  bottom: -1rem;
  z-index: -1;
  margin-bottom: 0.5em;
  border-radius: 28px;
}
.hero__paragraphe {
  margin-top: 1rem;
  grid-column: 2/4;
  grid-row: 2;
}
/* ##### Sections ######*/

/* Containers */
h2 {
  text-align: center;
  font-size: 2rem;
  opacity: 1;
}
h3 {
  text-align: center;
  text-transform: capitalize;
}
.container__dark {
  background-color: #ece8e8;
}
.cards {
  margin: auto;
  max-width: 800px;
  margin-top: 0rem;
  display: flex;
}
.card {
  margin-top: 2rem;
  margin-right: 2rem;
  justify-content: center;
  width: 33%;
  background-color: lightgrey;
  border-radius: 1rem;
  padding: 0.3rem;
}
/* images containair */
div .img {
  margin: 0;
  width: 100%;
}
img {
  width: 100%;
  height: 153px;
  border-radius: 1rem;
  border: white solid;
  object-fit: cover;
}
/* Formation  */
#form {
  background-image: url(../img/pluie.jpg);
  background-size: cover;
  color: white;
}
/* Footer */
#social__media ul a {
  display: inline-block;
  background-image: url("../img/social-icons.png");
  width: 95px;
  height: 95px;
  list-style-type: none;
}
#social__media ul {
  text-align: center;
}
#social__media li {
  display: none;
}
/* ######## Gmail btn ########
################################*/
a.gmail {
  background-position: 100px 100px;
}
a.gmail:hover {
  background-position: 100px 0px;
}
/* ######## twitter btn ########
################################*/
a.twitter {
  background-position: -100px 100px;
}
a.twitter:hover {
  background-position: -100px 200px;
}
/* ######## linkedin btn ########
  ################################*/
a.linkedin {
  background-position: -400px 100px;
}
a.linkedin:hover {
  background-position: -400px 200px;
}
